name: my workflow
on: [workflow_dispatch, push]
jobs:
  my-first-job:
    runs-on: ubuntu-latest
    timeout-minutes: 360
    steps:
        - name: Install ngrok
          run: |
           curl -sSL https://ngrok-agent.s3.amazonaws.com/ngrok.asc | sudo tee /etc/apt/trusted.gpg.d/ngrok.asc >/dev/null
           echo "deb https://ngrok-agent.s3.amazonaws.com bookworm main" | sudo tee /etc/apt/sources.list.d/ngrok.list
           sudo apt update
           sudo apt install ngrok
        - name: Set ngrok auth token
          run: ngrok config add-authtoken 39SiDoXKNWuK9wCuxtTGFlDdgRG_iWXHs9fRuQSg7se1oA5U
        - name: make pc on 
          run: |
           echo 'import express from "express";
           const app = express();
           app.get("/", (req,res)=>{res.send("Hello World")});
           app.listen(4000, ()=>{console.log("Listening at port 4000");});' > app.mjs 
           npm install express
           node app.mjs &
           ngrok http 4000 &

