name: my workflow
on: [workflow_dispatch, push]
jobs:
  my-first-job:
    runs-on: ubuntu-latest
    timeout-minutes: 360
    steps:
        - name: make pc on 
          run: |
           echo 'import express from "express"\nconst app = express()\napp.get( "/",(req,res)=>{res.send("Hello World")})\napp.listen(4000,()=>{console.log("Listening at port 4000");})' >> app.js
           npm install express
           node app.js

