name: my workflow
on: [workflow_dispatch, push]
jobs:
  my-first-job:
    runs-on: ubuntu-latest
    timeout-minutes: 360
    steps:
        - name: get ip address
          run: ipconfig
        - name: make pc on 
          run: |
           echo 'import express from "express";
           const app = express();
           app.get("/", (req,res)=>{res.send("Hello World")});
           app.listen(4000, ()=>{console.log("Listening at port 4000");});' > app.mjs 
           npm install express
           node app.mjs

